@theme {
  --font-sans: 'Tiktok Sans', sans-serif;
  --font-serif: 'Barlow', serif;
  --font-mono: 'Geist Mono', monospace;
}

/* until v5 ships --ui-font-heading */
@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-serif);
  }
}

:root,
.light {
  --ui-bg: var(--ui-color-neutral-50);
  --ui-bg-muted: var(--ui-color-neutral-100);
  --ui-text-inverted: var(--ui-color-neutral-50);
}

.dark {
  --ui-bg-inverted: var(--ui-color-neutral-50);
  --ui-text-highlighted: var(--ui-color-neutral-50);
  --ui-border-inverted: var(--ui-color-neutral-50);
  --ui-bg: var(--ui-color-neutral-900);
  --ui-bg-muted: var(--ui-color-neutral-800);
  --ui-text-inverted: var(--ui-color-neutral-900);
}
